* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  color: #fff;
}

.first-style {
  color: #ff004f;
}

section {
  padding: 10px 5%;
  min-height: 88vh;
}


/* ---------------------- header ---------------------- */

header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color:#000000;
  z-index: 100;
}

nav {
  display: flex;
  position:relative;
  padding: 10px 5%;
  align-items: center;
  background-color: black;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 10;
}

header nav h1 {
  width: 140px;
  font-size: 30px;
  font-family: cursive;
}

.menu-list ul{
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul li,.menu-list ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a,.menu-list ul li a {
  color: #fff;
  text-decoration: none;
  margin: 10px 10px;
  position: relative;
}

nav ul li a::after,.menu-list ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after,.menu-list ul li a:hover::after {
  width: 100%;
}

nav ul li a.active::after,.menu-list ul li a.active {
  width: 100%;
}

.menu{
  display: none;
}

.menu-list{
  transition: top 1s;
    position: absolute;
    top: -200px;
    left:0px;
    background-color: black;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.menu i {
  font-size:20px;
  border:2px solid white;
  border-radius: 3px;
  padding:2px 4px;
}
 
@media screen and (min-width:768px) {
    .menu-list{
      display: none !important;
    }
}

@media screen and (max-width:768px) {
  .header-text {
    font-size: 22px;
  }
  
  .header-text h1 {
    font-size: 42px;
  }

  .header-img {
    width:  180px;
    height: 180px;
  }
  
  .header-img img {
    width: 180px;
    height: 240px;
  }
  .menu{
    display: block;
  }
  .main-list{
    display:none;
  }
}

/* --------------------- home ------------------------- */

#home{
  background-color: #1B1B1B;
  padding-top: 5.5%;
}

.content {
  min-height: 88vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-img {
  border-radius: 50%;
  width:  283px;
  height: 283px;
  overflow: hidden;
}

.header-img img {
  position: relative;
  top:-20px;
  width: 283px;
  height: 378px;
}

.header-text {
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
}

@media screen and (max-width:991px) {
  .header-text {
    font-size: 25px;
  }
  
  .header-text h1 {
    font-size: 50px;
  }

  .header-img {
    width:  212px;
    height: 212px;
  }
  
  .header-img img {
    width: 212px;
    height: 283px;
  }
}

@media screen and (max-width:768px) {
  .header-text {
    font-size: 22px;
  }
  
  .header-text h1 {
    font-size: 42px;
  }

  .header-img {
    width:  180px;
    height: 180px;
  }
  
  .header-img img {
    width: 180px;
    height: 240px;
  }
}

@media screen and (max-width:576px) {
  .content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .header-text {
    font-size: 22px;
  }
  
  .header-text h1 {
    font-size: 42px;
  }

  .header-img {
    border-radius: 20px;
    width:  212px;
    height: 212px;
    margin-bottom: 30px;
  }
  
  .header-img img {
    width: 212px;
    height: 283px;
  }
}

/* ----------------------------- about ---------------------------- */

#about{
  background-color: #363636;
  padding-top: 5%;
}

.content-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 88vh;
  flex-wrap: wrap;
}

.content-2-left{
  flex-basis: 30%;
}
.content-2-left img{
  width: 80%;
  float:right;
  border-radius: 15px;
}
.content-2-left img{
  width: 80%;
  float:right;
  border-radius: 15px;
}

.content-2-right{
  flex-basis: 65%;
}

.content-2-right h1{
  font-size: 30px;
}

.content-2-right p{
  font-size: 16px;
  line-height: 25px;
}

@media screen and (max-width:991px) { 
  .content-2{ 
    align-items: flex-start;
  }
  #about{
    background-color: #363636;
    padding-top:  8%;
    padding-bottom: 2%;
  }
  .content-2-left{
    flex-basis: 40%;
  }.content-2-left img{
    width: 100%;
  }
  .content-2-right{
    flex-basis: 55%;
  }
}

@media screen and (max-width:768px) {
  .content-2{
    padding-top: 20px;
  }
  .content-2-left{
    flex-basis: 38%;
  }
  .content-2-right{
    flex-basis: 60%;
  }
  .content-2-right h1{
    font-size: 30px;
  }
  .content-2-right p{
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (max-width:576px) {
  .content-2{ 
    flex-direction: column;
    align-items: center;
  }
  .content-2-left{
    width:80%;
    margin-bottom: 20px;
  }
  .content-2-right{
    width: 80%;
  }
  .content-2-right h1{
    font-size: 30px;
  }
  .content-2-right p{
    font-size: 14px;
    line-height: 22px;
  }
}


/* ---------------------------- portfolio ------------------------- */

#portfolio{
  background-color: #1B1B1B;
  padding-top: 5%;
}

.content-3 {
  min-height: 88vh;
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
}

.content-3-left{
  flex-basis: 15%;
  position: relative;
  text-align: right;
  font-size:20px;
}

.content-3-left .tabContent{
  display: none;
}

.content-3-left::after{
  content:'-';
  position: absolute;
  right:-50px;
  z-index: 100;
  color:#1B1B1B;
  height:200px;
  top:00px;  
  border-left:2px solid black;
}

.content-3-left ul li{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin:15px 0px;
  padding:10px 10px; 
  cursor: pointer;
}

.content-3-left ul li:hover,.content-3-left ul li.active{
  background-color: #ff004f;
  border-radius: 20px;
}

.content-3-right{
  float: left;
  flex-basis: 80%;
  display: flex;
  justify-content: center;
}

.content-3-right .cards{
  display: grid;
  gap:30px;
  grid-template-columns: auto auto auto;
}

.content-3-right .cards .each-card{
  width:200px;
  height:200px;
  position: relative;
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius:10px;
  background-color: #363636;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.each-card:hover {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  padding:5px;
  font-size:15px;
  line-height: 20px;
  transform: rotateY(180deg);
}

.content-3-right .cards .each-card img{
  width:120px;
  height:120px;
}


@media screen and (max-width:991px) { 

  .content-3{
    padding-top: 30px;
  }
  .content-3-right .cards{
    display: grid;
    gap:30px;
    grid-template-columns: auto auto;
  }
  .content-3-left::after{
    right:-35px;
  }
}

@media screen and (max-width:720px) { 
  .content-3{
    padding-top: 40px;
  }
  .content-3-right .cards{
    display: grid;
    gap:30px;
    grid-template-columns: auto;
  }
  .content-3-right{
    flex-basis: 70%;
  }
}

@media screen and (max-width:490px) { 
  .content-3{
    padding-top: 60px;
  }
  .content-3-left{
    font-size: 16px;
  }
  .content-3-left::after{
    right:-10px;
  }
  .content-3-right{
    flex-basis: 60%;
  }
}


/* --------------- Contact ----------------- */

#contact{
  background-color: #363636;
  padding-top: 5%;
}

.content-4 {
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-4 .input-control{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin:5px 0px;
  padding:5px;
}


.content-4 form{
  width:400px;
}

.content-4 .input-control label{
  color:#BCBCBC;
  font-size: 20px;
  margin-bottom: 5px;
  font-family:'Times New Roman', Times, serif;
}


.content-4 .input-control input,
.content-4 .input-control textarea{
  font-size: 16px;
  padding:8px;
  outline:none;
  border-radius: 5px;
  border:0px;
  color:white;
  background-color: #6C6C6C;
  width:100%;
  resize: none;
}


.content-4 .input-control button{
  padding:8px;
  width:25%;
  background-color: #1B1B1B;
  border:none;
  border-radius: 5px;
  color:#BCBCBC;
  align-self: flex-end;
}


@media screen and (max-width:490px) { 
  .content-4 form{
    width: 300px;
  }
}

/* ---------------------- footer ---------------------- */

footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  bottom: 0px;
  padding: 20px 10px;
  background-color: #000000;
}

footer .footer-middle{
  width:30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer .footer-middle a{
  text-decoration: none;
}

footer .footer-middle img{
  width:35px;
  height:35px;
}

footer .footer-right a{
  text-decoration: none;
  background-color: #363636;
  color:white;
  padding:7px 10px;
  border-radius: 5px;
}

@media screen and (max-width:576px) { 
  footer{
    flex-direction: column;
  }
  footer div{
    margin:20px 0px;
  }
  footer .footer-middle{
    width:60%;
  }
}